/* 
colors:
#024059
#027373
#F2CA99
#F2766B
#F24444


#0081a7
#00afb9
#fdfcdc
#fed9b7
#f07167
*/

.page-footer {
  background-color: #00afb9;
}

.navbar {
  background-color: #00afb9;
}

.dropdown-menu {
  background-color: #00afb9;
}
.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #00afb9;
  font-weight: bold;
  color:white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.top-nav {
  background-color: #0081a7;
  height: 35px;
  padding-top: 1px;
  color: #024059;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 0px;
}

#msform fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 20px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform fieldset .form-card {
  text-align: left;
  color: #9e9e9e;
  min-height: 284px;
}

#msform input,
#msform textarea {
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 20px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid #f07167;
  outline-width: 0;
}

#msform .action-button {
  width: 100px;
  background: #f07167;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

select.list-dt {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 3px 5px;
  margin: 2px;
}

select.list-dt:focus {
  border-bottom: 2px solid #f07167;
}

.card {
  z-index: 0;
  border-radius: 0.5rem;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #2c3e50;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

#progressbar {
  margin-bottom: 14px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #000000;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 32%;
  float: left;
  position: relative;
}


#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f023";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #fed9b7;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

.ul-alert{
  list-style-type: none;
  margin: 0px;
}


body{
  background-color:white;
}

.list-right {
  left: auto !important;
  right: 0 !important;
}



